.box{
    background-color: aquamarine;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

/*old way*/
@media (min-width: 768px) and (max-width: 1439px){
    .box{
        background-color: red;
    }
}

/*new way*/
@media (width >= 390px){
}

/* @media (min-width: 768px){
  .wrapper{
    display: flex;
  }
  .one{
    order: 2;
  }
  .two{
    order: 3;
  }
  .three{
    order: 1;
  }
} */

.boxes{
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
    width: 40px;
    position: fixed;
}
.box1{
    bottom: 10px;
    left: 10px;
}
.box2{
    bottom: 10px;
    right: 10px;
}
.box3{
    top: 10px;
    left: 10px;
}
.box4{
    top: 10px;
    right: 10px;
}
.box5{
    left: 50%;
    top: 50%;
   transform: translate(-50%, -50%);
}
